*{
    margin: 0px;
    padding: 0px;
}
.upBound{
    width: 100%;
    height: 100px;
    background-color: darkseagreen;
    float: left;
}
.leftUp{
    float: left;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftUp > h1{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.rightUp{
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCanvas{
    float: left;
}
.functionBox{
    float: left;
    width: calc(100% - 1250px);
    padding: 10px;
    height: 650px;
    display: none;
    justify-content: center;
    align-items: center;
}

.typeBtn{
    width: 100px;
    height: 50px;
    display: none;
    float: left;
}
.typeBtn:hover{
    cursor: pointer;
}

